.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid #ff8a47;
    background-color: #2f2f2f;
    color: white;
}

.left-header, .right-header {
  display: flex;
  padding: 10px;
}

.session-buttons {
  display: flex;
}

.session-buttons button {
  padding: 10px
}

.left-header h3 {
  padding: 10px;
}

.black-out {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  opacity: .8;
}

.session-form-render {
  // position: fixed;
}
