.navbar {
    z-index: 10;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid #ff8a47;
    background-color: #2f2f2f;
    color: white;
    height: 50px;
    -webkit-box-shadow: 0px -6px 25px 1px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px -6px 25px 1px rgba(0,0,0,0.64);
    box-shadow: 0px -6px 25px 1px rgba(0,0,0,0.64);
}

.left-header, .right-header {
  display: flex;
  // padding: 10px;
}

.left-header {
  margin: auto auto auto 10px;
}

.session-buttons {
  display: flex;
}

.left-header h3 {
  padding: 10px;
}

@keyframes blackOutBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .6;
  }
}

.black-out {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0C0C0C;
  opacity: .6;
  animation: .3s linear 0s 1 blackOutBackground;
}

.signup {
  width: 80px;
  height: 25px;
  margin: auto 30px auto 30px;
  border-radius: 4px;
  background-color: #29a5dc;
  transition: opacity .2s;
  text-transform: capitalize;
  text-align: center;
  font-size: 14px;
  transition: background-color .2s;
}

.signup:hover {
  // opacity: 0.8;
  background-color: rgb(42, 186, 249);
}

.login {
  font-size: 14px;
}

.login:hover {
  color: #29a5dc
}

.logout {
  cursor: pointer;
}

.logout:hover {
  color: #29a5dc
}
