.navbar {
    z-index: 10;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 4px solid #ff8a47;
    background-color: #2f2f2f;
    color: white;
    height: 50px;
    -webkit-box-shadow: 0px -6px 25px 1px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px -6px 25px 1px rgba(0,0,0,0.64);
    box-shadow: 0px -6px 25px 1px rgba(0,0,0,0.64);
}

.left-header, .right-header {
  display: flex;
  // padding: 10px;
}

.user-info {
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 12px;
  display: flex;
}

.user-info i {
  margin-left: 10px;
  margin-top: 6px;
  cursor: pointer;
}

.user-info i:hover {
  color: #29a5dc;
}

.right-header {
  margin-right: 20px;
}

.left-header {
  margin: auto auto auto 10px;
}

.session-buttons {
  display: flex;
}

.left-header h3 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  padding: 10px;
}
.logo {
  background-image: asset-url("Logomakr_8yalAw.png");
  padding: 10px;
  height:20px;
  width: 8px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

@keyframes blackOutBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .6;
  }
}

.black-out {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0C0C0C;
  opacity: .6;
  animation: .3s linear 0s 1 blackOutBackground;
}

.signup {
  width: 80px;
  height: 25px;
  margin: auto 10px auto 30px;
  border-radius: 4px;
  background-color: #29a5dc;
  transition: opacity .2s;
  text-transform: capitalize;
  text-align: center;
  font-size: 14px;
  transition: background-color .2s;
}

.signup:hover {
  // opacity: 0.8;
  background-color: rgb(42, 186, 249);
}

.login {
  font-size: 14px;
}

.login:hover {
  color: #29a5dc
}

.logout {
  color: black;
  font-size: 12px;
  cursor: pointer;
  background: #f5f5f5;
  border: 2px solid #ccc;
  border-radius: 4px;
  height: 20px;
  padding: 2px;
  z-index: 10;
  position: relative;
  left: 120px;
  top: 25px;
}

.logout-modal {
  background: red;
  position: relative;

}

.logout:hover {
  color: #29a5dc
}

.search-header {
  color: #ddd;
  font-size: 14px;
  padding-top: 10px;
}

.search-header i {
  font-size: 15px;
  padding-bottom: 2px;
  padding-right: 7px;
}

.library-header {
  color: #ddd;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 10px;
}

.library-header:hover {
  color: #29a5dc
}
.search-header:hover {
  color: #29a5dc
}
