.home-container {
  height:800px;
  // border: 10px solid black;
  background-image: asset-url("flashy-cards-home.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
