.session-form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  color: #29a5dc;
  width: 240px;
  -webkit-box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.85);
  -moz-box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.85);
  box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.85);
  font-size: 22px;
}

.session-form-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.session-form-container h4 {
  color: #ff8a47;
  text-transform: capitalize;
  margin: 0 auto;
}

.session-form-errors {
  font-size: 14px;
  background-color: #d9edf7;
  border-radius: 4px;
  color: #3a87ad;
}

.session-form-errors li {
  padding: 0 10px;
}

.session-form-container input {
  background-color: #f2f2f2;
  height: 25px;
  padding: 2.5px;
  margin: 0 20px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.session-form-container input[type=submit]  {
  color: white;
  width: 50px;
  height: 20px;
  padding: 5px 3px;
  border-radius: 4px;
  background-color: #29a5dc;
  transition: opacity .2s;
  text-transform: capitalize;
  text-align: center;
  font-size: 16px;
  -webkit-box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.75);
}

.session-form-container input[type=submit]:hover {
  opacity: 0.8;
}

.session-form-container button {
  margin: 0 auto;
  font-size: 14px;
}

.session-form-container button:hover {
  color: #1a769f;
  text-decoration: underline;
}

@keyframes slideInFromTop {
    0% {
        transform: translatey(-20%);
    }
    100% {
        transform: translate(0);
    }
}

.form-on {
  border-radius: 2.5px;
  height: 320px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  transition: top 1s;
  z-index: 1000;
  animation: .05s ease-out 0s 1 slideInFromTop;
}

.form-off {
  position: absolute;
  top: -1000px;
}

#demo-user {
  background-color: #ff8a47;
  margin-top: 10px;
  font-size: 10px;
  height: 12px;
  width: 28px;
}

#session-form-close {
  color: #29a5dc;
  z-index: 3;
  position: absolute;
  top: -12px;
  right: -15px;
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #29a5dc;
  border-radius: 103px;
  padding: 5px;
  width: 18px;
  text-align: center;
  cursor: pointer;
  transition: .25s border;
}

#session-form-close:hover {
  border: 3px solid #29a5dc;
}
