.session-form-container {
  background-color: white;
  color: #29a5dc;
  width: 200px;
}

.session-form-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // margin: auto 0;
}

.session-form-container h4 {
  color: #ff8a47;
  text-transform: capitalize;
}

.session-form-errors {
  background-color: #d9edf7;
  border-radius: 4px;
  color: #3a87ad;
}

.session-form-container input {
  background-color: #f2f2f2;
  padding: 5px;
  margin: 5px auto;

}

.session-form-container input[type=submit]  {
  color: white;
  width: 50px;
  border-radius: 4px;
  background-color: #29a5dc;
  transition: opacity .2s;
  text-transform: capitalize;
}

.session-form-container input[type=submit]:hover {
  opacity: 0.8;
}

@keyframes slideInFromTop {
    0% {
        transform: translatey(-30%);
    }
    100% {
        transform: translate(0);
    }
}

.form-on {
  border: 5px solid green;
  height: 260px;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  transition: top 1s;
  z-index: 1000;
  animation: .25s ease-out 0s 1 slideInFromTop;
}

.form-off {
  position: absolute;
  top: -1000px;
}
