.search {
  background: orange;
  color: violet;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: fixed;
  top: 54px;
  width: 100%;
}

.search-bar-container {
  align-items: center;
  background: #293949;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 30%;
}

.search-bar-container form {
  color: white;
  height: 54px;
  margin: 0 auto;
  padding: 20px 0;
}

.search-bar-container i {
  background: #879199;
  border-radius: 30px 0 0 30px;
  color: #006ba2;
  padding: 21px 5px 17px 16px;

}

.search-bar-container input[type = 'text']{
  background: #879199;
  color: white;
  font-size: 18px;
  padding: 16px;
}

.search-bar-container input[type = 'text']::-webkit-input-placeholder{
  color: white;
}
.search-bar-container input[type = 'text']::-moz-placeholder{
  color: white;
}
.search-bar-container input[type = 'text']::-ms-placeholder{
  color: white;
}

.search-bar-container input[type = 'submit']{
  background: black;
  border-radius: 0 30px 30px 0;
  color: #29a5dc;
  font-size: 18px;
  padding: 16px;
}

.search-pic {
  background-image: asset-url("search_pic.jpg");
  background-size: 1300px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.search-results-container {
  background: #f2f2f2;
  height: calc(100% - 50px);
  overflow-y:scroll;
  overflow-x:hidden;
  padding-bottom: 100px;
  width: 70%;
}

.search-item {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 20px;
  padding: 15px;

  -webkit-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.16);
}

.search-item:hover {
  background: #cdf0ff;
}

.left-search-item {
  color: #29a5dc;
}

.left-search-item button {
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
  padding: 5px 10px;
}

.subscribe:hover {
  background: #449d44;
  border-color: #4cae4c;
}

.unsubscribe:hover {
  background: #f37025;
  border-color: #ff8a47;
}

.unsubscribe {
  background: #ff8a47;
}

.subscribe {
  background: #5cb75c;
}

.right-search-item {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: row;
}

.right-search-item h2 {
  font-size: 18px;
  padding-left: 5px;
}
