
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, h4, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Dosis', sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul, ol {
  list-style: none outside none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

::-webkit-input-placeholder { /* Chrome */
  color: #9c9c9c;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9c9c9c;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9c9c9c;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #9c9c9c;
  opacity: 1;
}

.group {
  content: "";
  display: block;
  clear: both;
}
