.current-learners-container {
  border: 2px solid #ccc;
  height: 250px;
  padding: 20px;
  margin-right: 10px;
  display: block;
  float: left;
  background: #f5f5f5;
  color: #29a5dc;
  font-weight: bold;
  // width: %;
}
