.deck-container {
  padding: 20px;
  // background: lightblue;
  // border: 3px solid black;
  float: left;
  width: calc(75% - 60px);
  display: block;
  margin: 0 10px;
  position: relative;
}

.deck-form {
  color: black;
  border: 2px solid #ff8a47;
  border-radius: 4px;
  padding: 20px 20px 10px;
  font-size: 14px;
}

.deck-form input[type=text] {
  margin-top: 7px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  width: 95%;
  font-size: 14px;
}

.deck-form input[type=text]:focus {
  border: 1px solid #29a5dc;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(41,166,220,0.54);
  -moz-box-shadow: 0px 0px 10px 1px rgba(41,166,220,0.54);
  box-shadow: 0px 0px 10px 1px rgba(41,166,220,0.54);
}

.deck-form input[type=submit] {
  background-color: #29a5dc;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  font-size: 12px;
}

.deck-form input[type=submit]:hover {
  opacity: 0.8;
}

.deck-item:nth-child(odd) {
  background: #f9f9f9;
}

.deck-header h3 {
  color: #ff8a47;
  font-size: 26px;
  padding: 0 40px 20px;
  border-bottom: 1px solid #ccc;
}

.deck-header h4 {
  padding: 18px 8px 6px;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 3px solid #ccc;
}

.deck-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0 10px 20px;
  color: #29a5dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deck-item h4:hover {
  // font-size: 14px;
  text-decoration: underline;
  color: #1a769f;
  cursor: pointer;
}

.deck-item h4 {
  float: left;
}

.deck-buttons {
  float: right;
}

.deck-buttons button {
  margin: 10px;
}

.deck-study {

}

.manage-deck-buttons {
  background: #5bc0de;
  border: 1px solid #2196ca;
  border-radius: 4px;
  width: 100px;
  height: 30px;
  display: flex;
  color: white;
}

.study-button {
  background: #29a5dc;
  border-radius: 3px 0 0 3px;
  width: 70px;
  padding-top: 4px;
  padding-bottom: 6px;
}

.study-button i {
  padding-right: 6px;
  padding-left: 6px;
}


.study-button:hover {
  background: #1e86b4;
}

.deck-settings {
  background: #5bc0de;
  border-radius: 0 3px 3px 0;
  width: 30px;
  overflow: hidden;
}

.deck-settings i {
  padding: 7px;
}

.deck-settings:hover {
  background: #31b0d5;;
}

.card-count {
  color: #9f9f9f;
  font-size: 13px;
}

.manage-add-buttons {
  background: #5bc0de;
  border: 1px solid #2196ca;
  border-radius: 4px;
  width: 125px;
  height: 30px;
  display: flex;
  color: white;
}

.add-card-button {
  background: #5cb85c;
  padding-top: 4px;
  padding-bottom: 6px;
  width: 95px;
}

.add-card-button:hover {
  background: #449d44;
}

.add-card-button i {
  padding-right: 6px;
  padding-left: 6px;
}

.fa-trash {
  padding-left: 8px;
  color: black;
  font-size: 15px;
}

.fa-trash:hover {
  color: red;
}

.deck-cog {
  background: #f9f9f9;;
  position: relative;
  color: black;
  left: 0px;
  // border: 20px solid transparent;
  margin-left: 31px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80px;
  height: 54px;
  z-index: 50;
  border-radius: 4px;
}

.deck-cog li {
  cursor: pointer;
  border: 1px solid #ccc;
  font-size: 12px;
  width: 64px;
  padding: 5px 2px;
}

.deck-cog i {
  padding-right: 3px;
  padding-left: 2px;
}

.deck-cog li:first-child {
  border-radius: 3px 3px 0 0;
}
.deck-cog li:last-child {
  border-radius: 0 0 3px 3px;
}

.deck-cog li:hover {
  background: #ddd;
}
