.deck-form {
  // border: 2px solid green;
}

.deck-form input {
  background-color: lightgray;
}

.deck-container {
  padding: 20px;
  background: lightblue;
  float: left;
  width: 70%;
}

.deck-container button {
}
