.subject-form {
  border: 2px solid green;
}

.subject-form input {
  background-color: lightgray;
}

.subject-container {
  border: 2px solid purple;
}

.subject-container button {
  border: 1px solid black;
}
