.subject-container {
  float: left;
  width: 25%;
  top: 56px;
  bottom:0;
  position: fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  display: block;
}

.subject-form {
  border: 4px solid #5cb85c;
  border-radius: 8px;
  padding: 25px 20px 10px;
  font-size: 14px;
  margin-top: -10px;
  background: white;
}

.subject-form button {
  background-color: white;
  color: black;
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  font-size: 12px;
}

.subject-form button:hover {
  background: #ddd;
}

.subject-form input[type=text] {
  margin-top: 7px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  width: 95%;
  font-size: 14px;
}

.subject-form input[type=text]:focus {
  border: 1px solid #29a5dc;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(41,166,220,0.54);
  -moz-box-shadow: 0px 0px 10px 1px rgba(41,166,220,0.54);
  box-shadow: 0px 0px 10px 1px rgba(41,166,220,0.54);
}
.subject-form input[type=submit] {
  background-color: #29a5dc;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  font-size: 12px;
}

.subject-form input[type=submit]:hover {
  opacity: 0.8;
}


.subject-container button {
  border: 1px solid #ccc;
}

.subject-header {
  position: fixed;
  background: #f5f5f5;
  z-index: 2;
  width: calc(25% - 3px);
  font-size: 12px;
  border-right: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  -webkit-box-shadow: 0px -6px 25px 1px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px -6px 25px 1px rgba(0,0,0,0.64);
  box-shadow: 0px -6px 25px 1px rgba(0,0,0,0.64);
  border-radius: 4px;
}

.subject-header button {
  background: #5cb85c;
  float: right;
  margin: 10px 20px;
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  border: 1px solid transparent;
  font-weight: bold;
  font-size: 13px;
}

.subject-header button:hover {
  background: #449d44;
  border-color: #4cae4c;
}

.subject-title {
  padding: 15px 10px;
  float: left;
}

.subject-list {
  position: relative;
  top: 53px;
  background: #f5f5f5;
  font-size: 12px;
  border-right: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
}

.subject-item {
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #29a5dc;
  cursor: pointer;
}

.subject-item:hover {
  background-color: #eee;
}

.subject-item button {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
}

.subject-item button:hover {
  border: 1px solid #aaa;
}

.subject-item h3 {
  color: darkgray;
}

#selected-subject {
  background: white;
  border:2px solid darkgray;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(41,166,220,0.54);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(41,166,220,0.54);
  box-shadow: inset 0px 0px 10px 1px rgba(41,166,220,0.54);
}

.subject-header i {
  padding-right: 5px;
}

.subject-combo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

#subject-score {
  background: #ccc;
}
