.study-container {
  display: block;
  justify-content: flex-start;
  background-color: green;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;

}

.study-header {
  float: left;
  width: 30px;
  height: 100%;
  background: #0d0d0d;
}

.study-progress {
  display: block;
  float: left;
  width: calc(25% - 15px);
  height: 100%;
  background: #333333;
  color: white;
}

.study-flash {
  float: left;
  background: #f2f2f2;
  width: calc(75% - 15px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card h4 {
  text-align: right;
  margin-bottom: 20px;
}

.card {
  height: 70%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.study-card-container {
  background: white;
  height: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  padding: 15px;
  display: flex;
  flex-flow: row;
}

.study-card-container h2 {
  color: gray;
  width: 80px;
  font-size: 20px;
}
.study-card-container h1 {
  display: flex;
  vertical-align: middle;
  align-items: center;
  letter-spacing: 1px;
}

.feedback {
  height: 15%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.feedback h4 {
  text-align: center;
  margin-bottom: 20px;
}

.study-card-reveal {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7fae2e;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  -moz-bo-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  color: white;
  font-size: 22px;
  padding: 5px;

}
.study-card-answer {
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
}

.give-button {
  background: yellow;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 18px;
}

.give-1 {
  background: #aa0080;
}
.give-2 {
  background: #ff8a47;
}
.give-3 {
  background: #ffdd00;
}
.give-4 {
  background: #7fae2e;
}
.give-5 {
  background: #00a8d7;
}


// Progress

.progress-title {
  background: #4a4a4a;
  display: block;
  height: 50px;
}

.progress-title h2 {
  font-size: 16px;
  display: inline-block;
  padding: 15px 3px 15px;
  letter-spacing: 1px;
}

#studying {
  color: #a9a3a0;
  padding-left: 15px;
}

.progress-done {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  // background: orange;

}

.progress-done button {
  background: #29a5dc;
  height: 40px;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  width: 85px;
  letter-spacing: 1px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.progress-done button:hover {
  background: #55b7e3
}

.progress-percent {
  // background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.progress-radial {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #29a5dc;
}

.progress-radial .overlay{
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #333333;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  line-height: 80px;
  font-size: 16px;
  // display: flex;
  // flex-flow: column;
  // justify-content: center;
  // align-items: center;
}

.score-percent {
  position: relative;
  top: -90px;
  right: 5px;
  width: 100%;
  height: 70%;
  font-weight: lighter;
  // background: red;
}

.score-percent h5 {
  position: relative;
  font-size: 60px;
}

.score-percent h6 {
  position: relative;
  top: -190px;
  left: 45px;
  font-size: 18px;
}

.mastery {
  position: relative;
  top: -135px;
  // background: orange;
}

.progress-mastered {
  height: 90px;
  display: flex;
  justify-content: center;
}

.mastered {
  width: 87%;
  background: #4a4a4a;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mastered h2 {
  font-size: 30px;
  font-weight: normal;
}
.mastered h3 {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  width: 40px;
}
.mastered h4 {
  font-size: 60px;
  font-weight: lighter;
}

.progress-bars {
  // background: lightblue;
  display: block;
  height: calc(100% - 500px);
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 25px;
}

.score-bar {
  display: flex;
  flex-flow: row;
}

.score-bar h4{
  padding-right: 15px;
}

.bar {
  width: 100%;
  background-color: #4a4a4a;
  border-radius: 4px;
}
