.study-container {
  display: block;
  justify-content: flex-start;
  background-color: green;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;

}

.study-header {
  float: left;
  width: 30px;
  height: 100%;
  background: #0d0d0d;
}

.study-progress {
  display: block;
  float: left;
  width: calc(25% - 15px);
  height: 100%;
  background: #333333;
  color: white;
}

.study-flash {
  float: left;
  background: #f2f2f2;
  width: calc(75% - 15px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card h4 {
  text-align: right;
  margin-bottom: 20px;
}

.card {
  // background: #f2f2f2;
  height: 70%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.study-card-container {
  background: white;
  height: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
}

.feedback {
  height: 15%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.feedback h4 {
  text-align: center;
  margin-bottom: 20px;
}

.study-card-reveal {
  height: 100%;
  text-align: center;
  background: #7fae2e;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  color: white;
  font-size: 22px;
  padding: 5px;

}
.study-card-answer {
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
  box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.16);
}

.give-button {
  background: yellow;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 18px;
}

.give-1 {
  background: #aa0080;
}
.give-2 {
  background: #ff8a47;
}
.give-3 {
  background: #ffdd00;
}
.give-4 {
  background: #7fae2e;
}
.give-5 {
  background: #00a8d7;
}


// Progress

.progress-title {
  background: #4a4a4a;
  display: block;
  height: 50px;
}

.progress-title h2 {
  font-size: 18px;
  display: inline-block;
  padding: 15px 3px 15px;
}

#studying {
  color: #a9a3a0;
  padding-left: 15px;
}

.progress-done {
  display: flex;
  justify-content: center;
  height: 80px;
  // background: orange;

}

.progress-done button {
  background: #29a5dc;
  margin: 15px auto;
  height: 40px;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  width: 85px;
  letter-spacing: 1px;
  text-align: center;
}

.progress-done button:hover {
  background: #55b7e3
}

.progress-percent {
  // background: red;
  display: block;
  height: 200px;
}

.progress-mastered {
  height: 90px;
  display: flex;
  justify-content: center;
}

.mastered {
  width: 90%;
  background: #4a4a4a;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mastered h2 {
  font-size: 30px;
  font-weight: normal;
}
.mastered h3 {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  width: 40px;
}
.mastered h4 {
  font-size: 60px;
  font-weight: lighter;
}

.progress-bars {
  background: blue;
}
