.card-container {
  position: relative;
  top: 100px;
  margin: 0 20px;
}

.card-header {
  border: 1px solid red;
  border-bottom: 1px solid #ccc;
}

.card-header ul {
  display: flex;
  justify-content: space-around;
}

.card-header ul li {
  font-size: 14px;
  font-weight: bolder;
  width: 10%;
  background: orange;
}

#answer-list, #question-list {
  background: yellow;
  width: 35%;
}

.card-header h2 {
  color: #ff8a47;
  font-size: 26px;
  padding: 0 40px 20px;
}

.card-list {
  // background: blue;
}

.card-list li {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 10px 0;
  // background: purple;
  // border: 1px solid purple;
  border-bottom: 1px solid #ccc;
}

ol {
  counter-reset: i 0;
  -webkit-padding-start: 0;
}
ol li:before {
  width: 10%;
  background: red;
  content: counter(i);
  counter-increment: i;
  color: green;
}

#question-item, #answer-item {
  width: 35%;
  // background: orange;
}

#x-card-item {
  width: 10%;
  background: red;
}

.card-buttons {
  border: 3px solid orange;
  display: flex;
  justify-content: space-around;
  
}

.card-list textarea {
  margin-top: 7px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  width: 95%;
  font-size: 14px;
}

.card-list textarea:focus {
  border: 1px solid #29a5dc;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(41,166,220,0.54);
  -moz-box-shadow: 0px 0px 10px 1px rgba(41,166,220,0.54);
  box-shadow: 0px 0px 10px 1px rgba(41,166,220,0.54);
}
