.card-container {
  position: relative;
  top: 100px;
  margin: 0 20px;
}

.card-header {
  background: red;
  border-bottom: 1px solid #ccc;
}

.card-header ul {
  display: flex;
  justify-content: space-around;
}

.card-header ul li {
  width: 10%;
  background: orange;
}

#answer-list, #question-list {
  background: yellow;
  width: 35%;
}

.card-header h2 {
  color: #ff8a47;
  font-size: 26px;
  padding: 0 40px 20px;
}

.card-list {
  background: blue;
}

.card-list li {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 10px 0;
  background: purple;
}

ol {
  counter-reset: i 0;
  -webkit-padding-start: 0;
}
ol li:before {
  width: 10%;
  background: red;
  content: counter(i);
  counter-increment: i;
  color: green;
}

#question-item, #answer-item {
  width: 35%;
  background: orange;
}

#x-card-item {
  width: 10%;
  background: red;
}
